Repository nasmet/lerna-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "packages/*/src/**/*.{css, scss}": "stylelint --fix",
  "packages/*/src/**/*.{js,jsx,ts,tsx}": "eslint --fix",
}

style: npm源发布
  package.json
  packages/wjh-store/package.json
  packages/wjh-tool/package.json
Due: none

v1.0.11
  lerna.json
  packages/hide-money/package-lock.json
  packages/hide-money/package.json
  packages/main-app/package.json
  packages/wjh-store/package.json
  packages/wjh-test/package.json
  packages/wjh-tool/package-lock.json
  packages/wjh-tool/package.json
Due: none

style: npm源发布
  package.json
  packages/wjh-cmps-mobile/package.json
  packages/wjh-components/package.json
  packages/wjh-hooks/package.json
  packages/wjh-keepalive/package.json
  packages/wjh-request/package.json
  packages/wjh-routers/package.json
  packages/wjh-store/package.json
  packages/wjh-tool/package.json
  packages/wjh-util/package.json
Due: none

v1.0.12
  lerna.json
  packages/child-app-operation/package.json
  packages/hide-money/package-lock.json
  packages/hide-money/package.json
  packages/main-app/package.json
  packages/wjh-cmps-mobile/package.json
  packages/wjh-components/package.json
  packages/wjh-hooks/package.json
  packages/wjh-keepalive/package.json
  packages/wjh-request/package.json
  packages/wjh-routers/package.json
  packages/wjh-server-hidemoney/package.json
  packages/wjh-store/package.json
  packages/wjh-test/package.json
  packages/wjh-tool/package-lock.json
  packages/wjh-tool/package.json
  packages/wjh-util/package.json
Due: none

style: .eslintignore文件修改
  .eslintignore
Due: none

style: lerna.json文件调整
  lerna.json
Due: none

feat: 配置修改
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  package.json
Due: none

feat: pm2配置集群
  .eslintrc
  ecosystem.config.js
  package.json
  packages/wjh-server-hidemoney/package.json
  packages/wjh-server-hidemoney/src/index.js
Due: eslint --fix

feat: 文件流操作相关补充
  packages/wjh-server-hidemoney/package.json
  packages/wjh-tool/utils/dns.js
  packages/wjh-util/package.json
  packages/wjh-util/src/file.js
Due: eslint --fix

feat: js桥接
  packages/wjh-util/src/js-bridge.js
Due: eslint --fix

feat: 增加文件流方法
  packages/wjh-util/src/file.js
  packages/wjh-util/src/js-bridge.js
Due: eslint --fix

fix: 方法使用错误
  packages/wjh-util/src/file.js
Due: eslint --fix

feat: vite包
  .babelrc
  .eslintrc
  package.json
  packages/child-app-operation/package.json
  packages/main-app/package.json
  packages/wjh-test/package.json
  packages/wjh-test/src/wjh-util/index.jsx
  packages/wjh-test/webpack.config.js
  packages/wjh-vite/.gitignore
  packages/wjh-vite/index.html
  packages/wjh-vite/package.json
  packages/wjh-vite/src/App.css
  packages/wjh-vite/src/App.tsx
  packages/wjh-vite/src/favicon.svg
  packages/wjh-vite/src/index.css
  packages/wjh-vite/src/logo.svg
  packages/wjh-vite/src/main.tsx
  packages/wjh-vite/src/vite-env.d.ts
  packages/wjh-vite/tsconfig.json
  packages/wjh-vite/vite.config.ts
Due: stylelint --fix, eslint --fix

feat: vite包
  .eslintrc
  package.json
Due: none

feat: eslint相关梳理
  .editorconfig
  .eslintrc
  .stylelintrc
  package.json
Due: none

feat: stylelint配置修改
  .stylelintrc
Due: none

feat: package.json增加type字段
  packages/child-app-operation/package.json
  packages/main-app/package.json
  packages/wjh-cmps-mobile/package.json
  packages/wjh-components/package.json
  packages/wjh-hooks/package.json
  packages/wjh-keepalive/package.json
  packages/wjh-request/package.json
  packages/wjh-routers/package.json
  packages/wjh-server-hidemoney/package.json
  packages/wjh-server-operation/package.json
  packages/wjh-server/package.json
  packages/wjh-store/package.json
  packages/wjh-test/package.json
  packages/wjh-tool/package.json
  packages/wjh-util/package.json
  packages/wjh-util/src/url.js
  packages/wjh-vite/package.json
Due: eslint --fix

feat: .eslintrc修改
  .eslintrc
  package.json
  packages/wjh-store/src/index.js
  packages/wjh-test/webpack.config.js
  packages/wjh-tool/bin/ast.js
  scripts/inquirer.js
Due: eslint --fix

feat: git忽略配置
  .gitignore
  lerna-debug.log
Due: none

feat: 配置修改
  .babelrc
  .editorconfig
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
Due: none

feat: lint调整
  .eslintrc
  .stylelintrc
  package.json
  packages/child-app-operation/src/pages/user/list/index.jsx
  packages/main-app/src/pages/admin/login/index.jsx
  packages/wjh-cmps-mobile/src/List/index.jsx
  packages/wjh-cmps-mobile/src/Share/index.jsx
  packages/wjh-cmps-mobile/src/Toast/index.jsx
Due: eslint --fix

feat: lint调整
  packages/wjh-routers/src/index.js
Due: eslint --fix

feat: 简易版虚拟滚动
  .eslintrc
  packages/wjh-cmps-mobile/package.json
  packages/wjh-cmps-mobile/src/List/index.module.scss
  packages/wjh-cmps-mobile/src/VirtualList/index.jsx
  packages/wjh-cmps-mobile/src/VirtualList/index.module.scss
  packages/wjh-cmps-mobile/src/index.js
  packages/wjh-components/package.json
  packages/wjh-hooks/package.json
  packages/wjh-keepalive/package.json
  packages/wjh-request/package.json
  packages/wjh-routers/package.json
  packages/wjh-store/package.json
  packages/wjh-test/package.json
  packages/wjh-test/src/wjh-cmps-mobile/index.jsx
  packages/wjh-test/src/wjh-cmps-mobile/index.module.scss
  packages/wjh-test/src/wjh-routers/index.jsx
  packages/wjh-util/package.json
  packages/wjh-vite/package.json
Due: eslint --fix

feat: 列表滚动代码优化
  packages/wjh-cmps-mobile/src/List/index.jsx
  packages/wjh-test/src/wjh-cmps-mobile/index.jsx
Due: eslint --fix

feat: wjh-test优化
  .eslintrc
  packages/wjh-test/src/wjh-request/index.jsx
  packages/wjh-test/src/wjh-routers/index.jsx
  packages/wjh-test/src/wjh-routers/index.module.scss
  packages/wjh-test/src/wjh-store/index.jsx
Due: eslint --fix

feat: 壁纸爬虫
  ecosystem.config.js
  package-lock.json
  packages/wjh-creeper/package.json
  packages/wjh-creeper/src/index.js
Due: eslint --fix

feat: 数组合并同项
  packages/wjh-util/src/array.js
  packages/wjh-util/src/index.js
  packages/wjh-util/src/js-bridge.js
  packages/wjh-util/src/number.js
Due: eslint --fix

feat: store优化
  packages/hide-money/src/jump/index.ts
  packages/wjh-store/src/context.js
Due: eslint --fix

fix: sass-loader版本问题
  packages/child-app-operation/package.json
  packages/main-app/package.json
  packages/main-app/src/pages/main-layout/index.jsx
  packages/main-app/webpack.config.js
  packages/main-app/webpack.prod.js
  packages/wjh-test/package.json
Due: eslint --fix

style: eslint
  packages/wjh-util/src/debug.js
  packages/wjh-util/src/string.js
Due: eslint --fix

feat: vue组件库增加路由过渡
  packages/wjh-cmps-mobile-vue/README.md
  packages/wjh-cmps-mobile-vue/package.json
  packages/wjh-cmps-mobile-vue/src/RouterTransition/index.vue
  packages/wjh-cmps-mobile-vue/src/global.scss
  packages/wjh-cmps-mobile-vue/src/index.js
  packages/wjh-util/src/animate.js
Due: eslint --fix

feat: 完善字符串输入数字格式化
  packages/wjh-util/src/string.js
Due: eslint --fix

feat: webpack优化
  packages/main-app/package.json
  packages/main-app/src/app.js
  packages/main-app/src/pages/main-layout/index.jsx
  packages/main-app/webpack.config.js
  packages/main-app/webpack.prod.js
  packages/wjh-cmps-mobile-vue/package.json
Due: eslint --fix

feat: 代码结构优化
  packages/main-app/webpack.config.js
Due: none

feat: webpack配置优化
  packages/main-app/.browserslistrc
  packages/main-app/package.json
  packages/main-app/src/app.js
  packages/main-app/src/pages/base-layout/index.jsx
  packages/main-app/webpack.config.js
  packages/main-app/webpack.dev.js
  packages/main-app/webpack.prod.js
Due: eslint --fix

feat: webpack构建优化
  packages/main-app/webpack.config.js
  packages/main-app/webpack.dev.js
  packages/main-app/webpack.prod.js
Due: none

feat: 增加tree-snake机制
  packages/main-app/package.json
  packages/main-app/webpack.config.js
  packages/wjh-cmps-mobile-vue/package.json
  packages/wjh-cmps-mobile/package.json
  packages/wjh-components/package.json
  packages/wjh-hooks/package.json
  packages/wjh-keepalive/package.json
  packages/wjh-request/package.json
  packages/wjh-routers/package.json
  packages/wjh-store/package.json
  packages/wjh-util/package.json
Due: none

feat: webpack方法提取
  packages/main-app/webpack.config.js
  packages/main-app/webpack.part.js
Due: none

feat: webpack调试工具根据环境区分配置
  packages/main-app/webpack.dev.js
  packages/main-app/webpack.prod.js
Due: none

feat: webpack调试工具根据环境区分配置
  packages/main-app/webpack.prod.js
Due: none
