Repository nasmet/lerna-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
  "packages/*/src/**/*.{css, scss}": "stylelint --fix",
  "packages/*/src/**/*.{js,jsx,ts,tsx}": "eslint --fix",
}

feat: 新增UnusedWebpackPlugin
  packages/main-app/package.json
  packages/main-app/webpack.config.js
  packages/main-app/webpack.part.js
  packages/main-app/webpack.prod.js
Due: none

feat: webpack配置方法提取
  packages/main-app/webpack.config.js
  packages/main-app/webpack.part.js
Due: none

feat: 增加nodemon监控
  packages/main-app/package.json
Due: none

style: 移除demo包
  packages/wjh-vite/.gitignore
  packages/wjh-vite/index.html
  packages/wjh-vite/package.json
  packages/wjh-vite/src/App.css
  packages/wjh-vite/src/App.tsx
  packages/wjh-vite/src/favicon.svg
  packages/wjh-vite/src/index.css
  packages/wjh-vite/src/logo.svg
  packages/wjh-vite/src/main.tsx
  packages/wjh-vite/src/vite-env.d.ts
  packages/wjh-vite/tsconfig.json
  packages/wjh-vite/vite.config.ts
Due: stylelint --fix, eslint --fix

feat: 1.antd按需加载 2.引入ts
  packages/main-app/package.json
  packages/main-app/src/app.jsx
  packages/main-app/src/i18/index.js
  packages/main-app/src/index.jsx
  packages/main-app/tsconfig.json
  packages/main-app/typing.d.ts
  packages/main-app/webpack.config.js
  packages/main-app/webpack.part.js
Due: eslint --fix

feat: 动态导入
  .eslintrc
  .prettierrc
  package.json
  packages/main-app/src/app.jsx
  packages/main-app/src/utils/index.ts
  packages/main-app/webpack.config.js
Due: eslint --fix

feat: 插件编写测试
  .eslintrc
  packages/child-app-operation/package.json
  packages/main-app/package.json
  packages/main-app/plugins/environment.js
  packages/main-app/plugins/watch-run.js
  packages/main-app/src/app.jsx
  packages/main-app/webpack.dev.js
  packages/wjh-test/package.json
Due: eslint --fix

feat: 获取网络状态信息
  packages/wjh-util/src/network.js
Due: eslint --fix

feat: three.js实现物体八方向运动
  packages/wjh-threejs/src/index.html
Due: none

Update index.js
  packages/wjh-server/src/mysql/index.js
Due: eslint --fix

Update index.js
  packages/wjh-server-operation/src/mysql/index.js
Due: eslint --fix

Update index.js
  packages/wjh-server-hidemoney/src/mysql/index.js
Due: eslint --fix

Update project.config.json
  packages/hide-money/project.config.json
Due: none
